{% extends 'index.html' %}

{% block mainsection_content %}
<div style="display: flex;">
    <div class="mainpage_contents">
      <div style="text-align: left; margin-bottom: 10px;">
        <h1 style="font-weight: bolder">🔹 News - Opencritic </h1>
      </div>
      <div style="text-align: left; margin-bottom: 10px;">
        <iframe src="https://opencritic.com/" title="내용" width="100%" height="300px" style="border:none"></iframe>
      </div>
    </div>
    <div class="mainpage_contents">
      <div style="text-align: left; margin-bottom: 10px;">
        <h1 style="font-weight: bolder">🔹 Game Promotion Event - H2 Direct G </h1>
      </div>
      <div style="text-align: left; margin-bottom: 10px;">
        <iframe src="https://directg.net/event/event.html" title="내용" width="100%" height="300px"
          style="border:none"></iframe>
      </div>
    </div>
    <div class="mainpage_contents">
      <div style="text-align: left; margin-bottom: 10px;">
        <h1 style="font-weight: bolder">🔹 Tips & Tricks - Inven </h1>
      </div>
      <div style="text-align: left; margin-bottom: 10px;">
        <iframe src="https://m.inven.co.kr/console/main/sub/" title="내용" width="100%" height="300px"
          style="border:none"></iframe>
      </div>
    </div>
  </div>
  <br>
  <div class="mainpage_contents">
    <div style="text-align: left; margin-bottom: 10px;">
      <h1 style="font-weight: bolder">🔹 New Realease - Danawa </h1>
    </div>
    <div style="text-align: left; margin-bottom: 10px;">
      <iframe src="https://prod.danawa.com/game/index.php#game_01" title="내용" width="100%" height="250px"
        style="border:none"></iframe>
    </div>
  </div>
  {% endblock %}