* {
    font-family: 'Noto Sans KR', sans-serif;
}

.mypic {
    width: 100%;
    height: 150px;

    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("https://cdn.casenews.co.kr/news/photo/202202/10630_22036_4230.jpg");
    background-position: center 50%;
    background-size: cover;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#nav_wrap {
    display: flex;
    align-items: flex-end; /* 아이템을 아래쪽에 정렬 */
    width: 100%;
    gap: 1rem;
}

.navigation {
    border: #f00 3px solid;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.user_join_login {
    width: 29%;
    border: #f00 3px solid;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    text-align: center;
}

.user_join_login button {
    width: 100%; 
}

#content_aside {
    display: flex; 
    width: 100%;
}

#aside {
    height: 720px;
    flex: 0 0 28%; /* 사이드 컨텐츠의 크기를 지정 */
    border: #f00 3px solid;
    text-align: center;
}

#section {
    height: 720px;
    flex: 1; /* 내용 컨텐츠가 나머지 공간을 차지하도록 설정 */
    border: #f00 3px solid;
    text-align: center;
}

#join_form_wrap{
    padding-top : 5px;
    width : 70%;
    text-align: center;
    margin: auto;
}
.table td {
    text-align: left;
    padding: 17px;
}
.join_input {
    padding: 3.5px;
}
.join_title {
    padding-top: 5px;
}
.btn {
    padding: 5px 15px;
}
#footer {
    width: 100%;
    margin: auto;
    justify-content: center;
    border: #f00 3px solid;
    text-align: center;
}
#userid_wrapper {
    display: flex;
    align-items: center;
}
#useridinput_find_button{
    margin-left: 10px;
}
#postinput_find_button {
    margin-left: 10px;
}
#postinput_wrapper {
    display: flex;
    align-items: center;
}
#footer>p{
    margin: auto;
    display: inline-block;
    justify-content: center;
    border: #f00 3px solid;
    text-align: center;
}