* {
    font-family: 'Noto Sans KR', sans-serif;
}

.mypic {
    width: 100%;
    height: 150px;

    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("/static/resources/headerimage.jpg");
    background-position: center 50%;
    background-size: cover;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#nav_wrap {
    display: flex;
    align-items: flex-end; 
    width: 100%;
    gap: 1rem;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-header .close {
    margin-left: auto; 
}
.modal-title {
    flex: 80%;
    text-align: center;
    margin: 0;
    color: black;
}

.modal-body .form-group label {
    color: black;
    text-align: left;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group label {
    display: inline-block;
    flex: 30%; 
    padding-right: 10px; 
    text-align: right;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    display: inline-block;
    width: auto;
    flex: 50%; 
    padding-left: 10px; 
}
.navigation {
    border: #f00 3px solid;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.user_join_login {
    width: 29%;
    border: #f00 3px solid;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    text-align: center;
}

.user_join_login button {
    width: 100%; 
}

#content_aside {
    display: flex; 
    width: 100%;
}

#aside {
    height: 720px;
    flex: 0 0 28%; 
    border: #f00 3px solid;
    text-align: center;
}

#section {
    height: 720px;
    flex: 1; 
    border: #f00 3px solid;
    text-align: center;
}

#join_form_wrap{
    padding-top : 5px;
    width : 70%;
    text-align: center;
    margin: 0 10%;
}
#join_form_wrap .table td {
    padding: 0 70px;
    box-sizing: border-box; 
    vertical-align: middle; 
}
.table {
    width: 100%; 
    height : 600px;
}
.table td {
    text-align: left;
}
#join_form_wrap .table textarea {
    width: 100%; 
    height: 50px;
    margin-top: 10px;
    resize: vertical; 
}
.join_input {
    padding: 3.5px;
}
.join_title {
    padding-top: 5px;
}

.modal-header .btn{
    width: 50px;
    height: 40px;
    padding: 1px 1px; 
    text-align: center;
    margin: auto;
}
.modal-footer .btn {
    width: 300px;
    height: 40px;
    padding: 1px 1px; 
    text-align: center;
    margin: auto;
}
#loginModal > div > div > form > div.modal-footer > button.btn.btn-primary {
    margin-top: 10px;
}
#loginModal > div > div > form > div.modal-footer > a {
    flex: 0.5; /* 동일한 공간 차지 */
    height: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-footer {
    padding-bottom: 20px; /* 아래 여백을 원하는 값으로 조절 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px; /* 높이 설정 */
    gap: -25px;
}
.modal-body .form-group label {
    margin-left: 50px; /* 여백을 원하는 값으로 조절 */
}
.modal-body .form-group input[type="text"],
.modal-body .form-group input[type="password"] {
    margin-right: 50px; /* 오른쪽 여백 조정 */
}
.join-button {
    display: inline-block;
    margin: 0 150px 0 0; /* 좌우 여백을 원하는 값으로 조정 */
    width: 150px; /* 버튼의 너비를 지정 */
    height: 40px; /* 버튼의 높이를 지정 */
    line-height: 40px; /* 버튼 내부의 텍스트를 수직 가운데 정렬 */
    text-align: center; /* 텍스트 가운데 정렬 */
    vertical-align: middle; /* 버튼 내부의 텍스트 수직 가운데 정렬 */
}

#footer {
    width: 100%;
    margin: auto;
    justify-content: center;
    border: #f00 3px solid;
    text-align: center;
    font-size: 70%;
    
}
#userid_wrapper {
    display: flex;
    align-items: center;
}
#useridinput_find_button{
    margin-left: 10px;
}
#postinput_find_button {
    margin-left: 10px;
}
#postinput_wrapper {
    display: flex;
    align-items: center;
}
#footer>p{
    margin: auto;
    display: inline-block;
    justify-content: center;
    border: #f00 3px solid;
    text-align: center;
}