<!-- HTML Doctype선언문 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 인코딩 캐릭터셋 UTF-8지정 -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 부트스트랩 css 참조 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <!-- jquery 참조 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- 부트스트랩 javascript 참조 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- Google Font 참조 -->
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&family=Nanum+Gothic+Coding&family=Noto+Sans+KR&family=Noto+Serif+KR&family=Orbit&display=swap" rel="stylesheet">
    <!-- JS 모듈화 참조 -->
    <!-- Flask용 -->
    <!-- <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->
    <!-- Live Server 용 -->
    <script src="/static/js/script.js"></script>

    <!-- CSS 모듈화 참조 -->
    <!-- Flask용 -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <!-- Live Server 용 -->
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Game Insight</title>

    <!-- og태그 -->
    <meta property="og:title" content="Game Insight" />
    <meta property="og:description" content="각종 게임의 순위정보! 전문가 및 유저 리뷰를 확인 할 수 있는 커뮤니티 페이지 입니다." />
    <meta property="og:image" content="https://cdn.casenews.co.kr/news/photo/202202/10630_22036_4230.jpg" />
</head>

<body>
    <!-- Container(Wrap) -->
    <div id="wrap">
        <!-- Header -->
        <header id="header" class="mypic">
			<h1>Game Insight</h1>

            <div id="nav_wrap">
                <!-- Navigation -->
                <div id="navigation" class="navigation">
                    <div class="nav_menu">
                        <span><button class="btn btn-success" type="button" onclick="">전문가 리뷰</button></span>
                        <span><button class="btn btn-info" type="button" onclick="">사용자 리뷰</button></span>
                    </div>
                </div>

                <!-- Join&Login -->
                <div id="user_join_login" class="user_join_login">
                    <span><button class="btn btn-primary" type="button" onclick="user_join()">회원가입</button></span>
                    <span><button class="btn btn-warning" type="button" onclick="user_login()">로그인</button></span>
                </div>
            </div>
		</header>
		
        <!-- Content&Aside Wrap -->
        <div id="content_aside">
            <!-- Section -->
            <section id="section"> 
                {% block content %}
                {% endblock %}
            </section>
            <!--Aside-->
            <aside id="aside">
                <p>aside</p>
            </aside>
        </div>
        <!--풋터-->
        <footer id="footer">
            <p>©2023 Wisetree. All Rights Reserved.</p>
        </footer>
    </div>
</body>
</html>
