{% extends 'index.html' %}

{% block user_review_content %}
<!-- 리뷰 작성 -->
<div class="user_review_box">
    <div>
        <h1 style="font-size: 20px; font-weight: bolder;">사용자 리뷰 작성</h1>
    </div><br>
    <div class="form-floating mb-3">
        <div class="input-group mb-3" style="float: left; width: 70%;">
            <label class="input-group-text" for="inputGroupSelect01">게임명</label>
            <select class="form-select" id="inputGroupSelect01">
                <option selected>선택하기...</option>
            </select>
        </div>
        <div class="input-group mb-3" style="float: right; width: 27%;">
            <label class="input-group-text" for="inputGroupSelect02">별점</label>
            <select class="form-select" id="inputGroupSelect02">
                <option selected>선택하기...</option>
                <option value="1">⭐</option>
                <option value="2">⭐⭐</option>
                <option value="3">⭐⭐⭐</option>
                <option value="4">⭐⭐⭐⭐</option>
                <option value="5">⭐⭐⭐⭐⭐</option>
            </select>
        </div>
    </div><br>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea" style="vertical-align: top;">리뷰 작성</label>
    </div><br>
    <div class="mybucket">
        <button onclick="save_user_review()" type="button" class="btn btn-outline-primary">작성하기</button>
    </div>
</div>
<!-- 필터 -->
<div>
    <h4 style="font-size: 20px; font-weight: bolder;" >리뷰 목록</h4>
</div>
<div class="user_review_box" style="height: 80px;">
    <div style="float: left; width: 10%;">
        <h3 style="font-weight: bolder; font-size: 25px;" >필터</h3>
    </div>
    <div class="form-floating mb-3" style="float: left; width: 70%;">
        <div class="input-group mb-3" style="float: left; width: 70%;">
            <label class="input-group-text" for="filter1">게임명</label>
            <select class="form-select" id="filter1">
                <option selected>전체</option>
            </select>
        </div>
        <div class="input-group mb-3" style="float: right; width: 27%;">
            <label class="input-group-text" for="filter2">별점</label>
            <select class="form-select" id="filter2">
                <option selected>전체</option>
                <option value="1">⭐</option>
                <option value="2">⭐⭐</option>
                <option value="3">⭐⭐⭐</option>
                <option value="4">⭐⭐⭐⭐</option>
                <option value="5">⭐⭐⭐⭐⭐</option>
            </select>
        </div>
    </div>
    <div style="float: left; width: 20%;">
        <button onclick="filter_show()" type="button" class="btn btn-outline-primary">필터적용</button>
    </div>
</div>
<!-- 리뷰 목록 -->
<div class="user_review_box" id="ur-list">

    <!-- <div>
                        <div style="float: left;">
                            <img src="https://movie-phinf.pstatic.net/20210728_221/1627440327667GyoYj_JPEG/movie_image.jpg"
                                style="width:150px; height:90px;" />
                        </div>
                        <div>
                            <h5 class="card-title" style="float: left; width: 30%;">게임명</h5>
                            <p id="star_num">⭐⭐⭐</p>
                            <p class="mycomment">리뷰리뷰리뷰리뷰리뷰리뷰</p>
                        </div>
                    </div> -->
</div>
{% endblock %}